{% extends 'base.html.twig' %}

{% block title %}Page not found | OIATC{% endblock %}

{% block content %}
  <section class="page-header">
    <h1>Page not found</h1>
    <p>The page you're looking for doesn't exist or has been moved.</p>
    <div class="cta-row">
      <a class="button" href="/">Return to home</a>
    </div>
  </section>
{% endblock %}
